<% content_for :script do %>
  <%= render "home/shared/scripts" %>
<% end %>

<% content_for :content do %>
  <div class="block bg-white text-black font-['ABC_Favorit'] text-base font-normal leading-relaxed tracking-tight">
    <%= render "home/shared/nav" %>
    <div class="overflow-hidden">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
